/* =====================================================
   SERVICES SECTION
===================================================== */


.services-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}




.service-card{


position:relative;


min-height:420px;


}



.service-number{


position:absolute;


top:25px;


right:30px;


font-family:

var(--font-code);


font-size:14px;


color:

var(--cyan);


}





.service-card h3{


font-size:28px;


margin:

25px 0;


}





.service-card p{


margin-bottom:30px;


}




.service-card .icon-box{


margin-top:20px;


}





.service-card:hover .icon-box{


transform:

rotate(8deg)
scale(1.1);


box-shadow:

var(--glow-cyan);


}



.icon-box{


transition:

var(--transition);


}

